.personal-page.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}
.personal-page .introduction_section {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.personal-page .profile_group {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 100%; 
}
.personal-page .profile_image {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 100%; 
  overflow: hidden;
  object-fit: cover;
  z-index: -1;
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .personal-page .profile_image {
    width: 100%;
    max-width: 100%;
    object-fit: cover
  }
}
@media (max-width: 991px) {
  .personal-page .profile_image {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}
.personal-page .name_display_group {
  position: absolute;
  top: 289px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}
@media (max-width: 991px) {
  .personal-page .name_display_group {
    left: 50%;
  transform: translate(-50%, 0);
    width: 55%;
  }
}
.personal-page .main_heading {
  position: absolute;
  bottom: -130px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  width: 845px;
  height: 40px;
  font: 400 32px/1.25 Orbitron, Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 22.4px;
}
@media (max-width: 991px) {
  .personal-page .main_heading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .personal-page .main_heading {
    font-size: 26px;
  }
}
.personal-page .secondary_heading {
  position: absolute;
  top: 289px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 888px;
  height: 128px;
  font: 400 128px/1 "Libre Barcode 128", Helvetica, Arial, serif;
  color: black;
}
@media (max-width: 991px) {
  .personal-page .secondary_heading {
    align-items: flex-start;
    font-size: 52px;
  }
}
@media (max-width: 479px) {
  .personal-page .secondary_heading {
    font-size: 36px;
  }
}
.personal-page .contact_images_row {
  position: relative;
  display: flex;
  gap: 0 18px;
  margin: 20px 15px 776px auto;
  width: 225px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .personal-page .contact_images_row {
    margin: 20px 15px 150px auto;
  }
}
@media (max-width: 575px) {
  .personal-page .contact_images_row {
    column-gap: 16px;
    margin: 20px 15px 80px auto;
  }
}
@media (max-width: 383px) {
  .personal-page .contact_images_row {
    column-gap: 8px;
    margin: 20px 8px 50px auto;
  }
}
.personal-page .contact_image_1 {
  width: 41px;
}
.personal-page .contact_image_2 {
  width: 47px;
}
.personal-page .contact_image_3 {
  width: 40px;
}
.personal-page .contact_image_4 {
  width: 43px;
}
.personal-page .who_am_i_section {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  min-height: 725px;
  background-image: linear-gradient(180deg, rgba(255, 254, 249, 0) 0%, rgba(255, 254, 249, 0.15) 10%, rgba(255, 254, 249, 0.3) 14.21%, rgba(255, 254, 249, 0.4) 20%, rgba(255, 254, 249, 0.6) 30%, rgba(255, 254, 249, 0.8) 40%, #fffef9 51%, #fffef9 60%, #fffef9 98%);
}
.personal-page .flex_column {
  display: flex;
  flex-direction: column;
  margin: 30px auto 56px;
  width: 93.47%;
}
.personal-page .who_am_i_title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font: 400 106px/1.25 Orbitron, Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 10.6px;
}
.personal-page .flex_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  margin: 22px 0 0;
}
.personal-page .student_intro_title {
  width: 500px;
  min-width: 0;
  font: 400 28px/1.17 "Poiret One", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 2.8px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.personal-page .student_image {
  width: 50%;
  height: 10%;
  object-fit: cover;
  min-width: 0;
  opacity: 0.85;

}

.personal-page .career_aspiration_title {
  margin: 63px 0 0 3.12%;
  width: 85.66%;
  font: 400 28px/1.17 "Poiret One", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 2.8px;
}
.personal-page .skills_section {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 773px;
  min-height: 773px;
  background-color: #fffef9;
}
.personal-page .skills_h1 {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 52px auto 588px;
  font: 400 106px/1.25 Orbitron, Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 10.6px;
}
.personal-page .skills_image_main {
  position: absolute;
  top: 126px;
  right: 0;
  width: 40%;
}
.personal-page .skills_container {
  position: absolute;
  top: 247px;
  left: 92px;
  display: flex;
  flex-direction: column;
  gap: 90px 0;
  width: 640px;
  height: 469px;
}
.personal-page .skills_row {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 0 12px 0 0;
}
.personal-page .skills_col_images_1 {
  display: flex;
  flex-direction: column;
  gap: 43px 0;
  margin: 3px 0 0;
  width: 100px;
  min-width: 0;
}
.personal-page .python_image {
  margin: 0 26px 0 0;
  width: 74px;
}
.personal-page .sqlite_image {
  margin: 0 26px 0 0;
  width: 74px;
}
.personal-page .qt_image {
  width: 100px;
}
.personal-page .skills_col_titles_1 {
  display: flex;
  flex-direction: column;
  margin: 23px 0 17px;
  width: 195px;
  min-width: 0;
}
.personal-page .python_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 28px/1.25 Orbitron, Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 2.8px;
}
.personal-page .sqlite_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 82.5px 29px 0 28px;
  font: 400 28px/1.25 Orbitron, Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 2.8px;
}
.personal-page .qt_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80.5px 0 0 28px;
  width: 89px;
  font: 400 32px/1.25 Orbitron, Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 3.2px;
}
.personal-page .skills_col_images_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 4px;
  width: 94px;
  min-width: 0;
}
.personal-page .image_4 {
  width: 94px;
}
.personal-page .image_51 {
  margin: 23px 0 0;
  width: 74px;
}
.personal-page .image_31 {
  margin: 44px 0 0;
  width: 74px;
}
.personal-page .skills_col_titles_2 {
  display: flex;
  flex-direction: column;
  margin: 29.5px 0 23px;
  width: 135px;
  min-width: 0;
}
.personal-page .cpp_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 38px 0 20px;
  font: 400 28px/1.25 Orbitron, Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 2.8px;
}
.personal-page .html_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 72px 0 0;
  font: 400 28px/1.25 Orbitron, Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 2.8px;
}
.personal-page .css_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 83.5px 21px 0;
  font: 400 28px/1.25 Orbitron, Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 2.8px;
}
.personal-page .learning_status_h1 {
  font: 400 28px/1.17 "Poiret One", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 2.8px;
}
.personal-page .hobbies_section {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 773px;
  min-height: 773px;
  background-color: #fffef9;
}
.personal-page .color_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: black;
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .personal-page .color_box {
    width: 100%;
  }
}
.personal-page .flex_column_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px auto 44px;
  width: 92.99%;
}
.personal-page .hobbies_title {
  display: flex;
  justify-content: center;
  font: 400 106px/1.25 Orbitron, Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 10.6px;
}
.personal-page .flex_row_container {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 55px 0 0;
  width: 100%;
}
.personal-page .hobby_image {
  width: 22%;
  min-width: 0;
}
.personal-page .photo_description_title {
  margin: 0 0 82px;
  width: 301px;
  min-width: 0;
  font: 400 28px/1.17 "Poiret One", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 2.8px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.personal-page .dreams_title {
  margin: 48px 0 0;
  width: 100%;
  font: 400 28px/1.17 "Poiret One", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 2.8px;
}
.personal-page .contact_section {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  min-height: 773px;
  background-color: #fffef9;
}
.personal-page .flexible_column_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px auto 33px;
  width: 86.81%;
}
.personal-page .contact_title {
  display: flex;
  justify-content: center;
  font: 400 106px/1.25 Orbitron, Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 10.6px;
}
.personal-page .thank_you_message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 128px 0 0;
  width: 100%;
  font: 400 28px/1.17 "Poiret One", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 2.8px;
}
.personal-page .flexible_row_div {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 186px 0 0;
  width: 36.08%;
}
.personal-page .github_image {
  width: 82px;
  min-width: 0;
}
.personal-page .instagram_image {
  margin: 2px 0;
  width: 94px;
  min-width: 0;
}
.personal-page .project_image_1 {
  width: 81px;
  min-width: 0;
}
.personal-page .project_image_2 {
  width: 86px;
  min-width: 0;
}