:root {
  --bg-color: rgb(3, 1, 0);
  --text-color: rgb(3, 1, 0);
  --gradient2: linear-gradient(180deg, rgba(255, 254, 249, 0) 0%, rgba(255, 254, 249, 0.15) 10%);
  --gradient3: linear-gradient(180deg, rgba(255, 254, 249, 0.15) 0%,  rgba(255, 254, 249, 0.4) 100%);
  --gradient4: linear-gradient(180deg,  rgba(255, 254, 249, 0.4) 0%, rgba(255, 254, 249, 0.8) 100%);
  --gradient5: linear-gradient(180deg, rgba(255, 254, 249, 0.8) 0%, rgba(255, 254, 249, 0.85) 100%);
}

.dark-theme {
  --bg-color: white;
  --text-color: white;
  --gradient2: linear-gradient(180deg, rgba(3, 1, 0, 0) 0%, rgba(3, 1, 0, 0.5) 100%);
  --gradient3: linear-gradient(180deg, rgba(3, 1, 0, 0.5) 0%, rgba(3, 1, 0, 0.8) 100%);
  --gradient4: linear-gradient(180deg, rgba(3, 1, 0, 0.8) 0%, rgba(3, 1, 0, 0.85) 100%);
  --gradient5: linear-gradient(180deg, rgba(3, 1, 0, 0.85) 0%, rgba(3, 1, 0, 1) 100%);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  /* transition: background-color 0.5s, color 0.5s; */
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Переходы для изображений */
.profile_image,
.barcode_image,
.contact_image_1,
.contact_image_2,
.contact_image_3,
.contact_image_4,
.theme-toggle,
.github_image,
.instagram_image,
.project_image_1,
.project_image_2,
.pinterest_image,
.tgc_image,
.tiktok_image,
.skills_image {
  transition: opacity 0.5s ease; /* Плавное изменение прозрачности */
}

.dark-theme .profile_image,
.dark-theme .barcode_image,
.dark-theme .contact_image_1,
.dark-theme .contact_image_2,
.dark-theme .contact_image_3,
.dark-theme .contact_image_4,
.dark-theme .theme-toggle,
.dark-theme .github_image,
.dark-theme .instagram_image,
.dark-theme .project_image_1,
.dark-theme .project_image_2,
.dark-theme .pinterest_image,
.dark-theme .tgc_image,
.dark-theme .tiktok_image,
.dark-theme .skills_image {
  opacity: 0; /* Начинаем с прозрачного состояния при смене */
}
.personal-page.main {
  display: flex;
  flex-direction: column;
}
.personal-page .introduction_section {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: auto;
  cursor: default;
  overflow: hidden;
}
.personal-page .profile_group {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 15vh;
  /* bottom: 80vh; */
  flex-direction: column;
  width: 100%;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.37, 0, 0.63, 1); 
}

.personal-page .profile_image {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 100%; 
  height: 100vh;
  object-fit: cover;
  z-index: -3;
  background: var(--gradient2);
}
.personal-page .texture {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обеспечивает правильное отображение изображения */
  opacity: 0.01; /* Уровень прозрачности текстуры */
  z-index: 5;
}
.personal-page .texture2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обеспечивает правильное отображение изображения */
  opacity: 0.07; /* Уровень прозрачности текстуры */
  z-index: 5;
}
.personal-page .texture3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обеспечивает правильное отображение изображения */
  opacity: 0.15; /* Уровень прозрачности текстуры */
  z-index: 5;
}
.personal-page .texture4 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обеспечивает правильное отображение изображения */
  opacity: 0.21; /* Уровень прозрачности текстуры */
  z-index: 5;
}
.personal-page .texture5 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обеспечивает правильное отображение изображения */
  opacity: 0.28; /* Уровень прозрачности текстуры */
  z-index: 5;
}

.personal-page .barcode_image{
  position: relative;
  width: 60%;
  object-fit: contain;
  margin-bottom: 1%;
}

.personal-page .main_heading {
  position: relative;
  width: 60%;
  font: 400 32px/1.25 Orbitron, Helvetica, Arial, serif;
  font-size: 2vw;
  color: var(--text-color);
  /* color: black; */
  text-align: center;
  letter-spacing: 0.7em;
}

.personal-page .contact_images_row {
  position: relative;
  display: flex;
  gap: 0 18px;
  margin: 20px 20px 1.5% auto;
  width: 225px;
  max-width: 100%;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.37, 0, 0.63, 1);
  z-index: 10;
}
.personal-page .theme-toggle {
  position: absolute;
  margin: 20px auto 20px 20px;
  width: 40px;
  transition: transform 0.3s ease; /* Добавляем переход для transform */
  z-index: 10;
}

.personal-page .contact_image_1,
.personal-page .contact_image_2,
.personal-page .contact_image_3,
.personal-page .contact_image_4{
  width: 100%;
  transition: transform 0.3s ease; /* Добавляем переход для transform */
}

.personal-page .contact_image_1:hover,
.personal-page .contact_image_2:hover,
.personal-page .contact_image_3:hover,
.personal-page .contact_image_4:hover {
  transform: translateY(-10px); /* Поднимаем изображение вверх на 10px */
}

.personal-page .who_am_i_section {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: var(--gradient2);
  cursor: default;
}
.personal-page .flex_column {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 5%;
  width: 90%;
  z-index: 10;
}
.personal-page .who_am_i_title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font: 400 106px/1.25 Orbitron, Helvetica, Arial, serif;
  font-size: 8vw;
  mix-blend-mode: exclusion;
  /* color: black; */
  text-align: center;
  letter-spacing: 10.6px;
}

.personal-page .student_intro_title,
.personal-page .student_image,
.personal-page .career_aspiration_title,
.personal-page .who_am_i_title {
    opacity: 0;
    transform: translateX(250px); /* Выносим за пределы экрана */
    transition: all 0.5s cubic-bezier(0.37, 0, 0.63, 1); /* Добавляем плавность */
}

.personal-page .flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
.personal-page .student_intro_title {
  width: 45%;
  min-width: 0;
  font: 400 28px/1.17 "Poiret One", Helvetica, Arial, serif;
  color: var(--text-color);
  /* color: black; */
  letter-spacing: 2.8px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.personal-page .photo_container{
  position: relative; /* Относительное позиционирование для контейнера */
  display: inline-block;
  width: 50%;
  height: 10%;
}

.personal-page .tape1{
  position: absolute;
  top: -6%; /* Смещение маленького изображения за границу основного */
  left: -10%;
  width: 35%;
  z-index: 4;
}
.personal-page .tape2{
  position: absolute;
  top: -7%; /* Смещение маленького изображения за границу основного */
  right: -6%;
  width: 15%;
  z-index: 4;
}
.personal-page .tape9_1{
  position: absolute;
  bottom: -6%; /* Смещение маленького изображения за границу основного */
  right: -8%;
  width: 15%;
  z-index: 4;
}
.personal-page .tape10_1{
  position: absolute;
  bottom: -7%; /* Смещение маленького изображения за границу основного */
  left: -6%;
  width: 15%;
  z-index: 4;
}

.personal-page .student_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  min-width: 0;
  opacity: 0.85;
  margin-top: 1%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.personal-page .career_aspiration_title {
  width: 85%;
  font: 400 28px/1.17 "Poiret One", Helvetica, Arial, serif;
  color: var(--text-color);
  /* color: black; */
  letter-spacing: 2.8px;
  margin-bottom: 5%;
  margin-top: 2%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 991px) {
  .personal-page .flex_row {
    display: flex;
    flex-direction: column;
  }
  .personal-page .flex_column {
    align-items: center;
  }
  .personal-page .student_intro_title{
    width: 85%;
  }
  .personal-page .photo_container{
    width: 85%;
    margin-top: 5%;
  }
  .personal-page .student_intro_title{
    width: 85%;
  }
}
.personal-page .skills_section {  
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  background-image: var(--gradient3);
  cursor: default;
}

.personal-page .skills_h1 {
  position: relative;
  text-align: center;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font: 400 106px/1.25 Orbitron, Helvetica, Arial, serif;
  font-size: 8vw;
  color: var(--text-color);
  /* color: black; */
  text-align: center;
  letter-spacing: 10.6px;
  z-index: 10;
}
.personal-page .photo_container2{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 32%;
  object-fit: contain;
  margin-left: 5%;
  z-index: 10;
}
.personal-page .tape3{
  position: absolute;
  bottom: -7%;
  right: -1%;
  width: 80%;
  z-index: 4;
}
.personal-page .tape4{
  position: absolute;
  top: -3%; /* Смещение маленького изображения за границу основного */
  right: 13%;
  width: 25%;
  z-index: 4;
}
.personal-page .tape5{
  position: absolute;
  top: 38%; /* Смещение маленького изображения за границу основного */
  left: 5%;
  width: 22%;
  z-index: 4;
}
.personal-page .skills_image_main {
  bottom: 0;
  right: 0;
  width: 100%;
  object-fit: contain;
}
.personal-page .skills_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две колонки */
  flex-wrap: nowrap;
  gap: 2vw; /* Отступы между колонками */
  width: 68%;
  padding: 1% 5% 1%;
  box-sizing: border-box;
  margin: 3%;
  z-index: 10;
}
.personal-page .skills_h1,
.personal-page .skills_container,
.personal-page .learning_status_h1,
.personal-page .skills_image_main{
  opacity: 0;
  transform: translateX(250px); /* Выносим за пределы экрана */
  transition: all 0.5s cubic-bezier(0.37, 0, 0.63, 1); /* Добавляем плавность */
}

.personal-page .skills_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; /* Выравнивание по горизонтали */
  gap: 8vw; /* Отступы между картинкой и текстом */
}

.personal-page .skills_image {
  width: 85px;
  height: auto;
}

.personal-page .skills_title {
  text-align: left;
  margin-bottom: 0;
  font: 400 28px/1.17 "Poiret One", Helvetica, Arial, serif;
  color: var(--text-color);
  /* color: black; */
  text-align: center;
  letter-spacing: 0.1em;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.personal-page .learning_status_h1 {
  width: 65%;
  font: 400 28px/1.17 "Poiret One", Helvetica, Arial, serif;
  color: var(--text-color);
  /* color: black; */
  letter-spacing: 2.8px;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 800px) {
  .personal-page .skills_container {
    grid-template-columns: 1fr; /* Одна колонка при ширине экрана меньше 768px */
    gap: 2vw; /* Отступы между элементами */
    justify-content: center;
    width: 80%;
  }

  .personal-page .photo_container2 {
    width: 50%;
    max-width: 300px;
  }
  
  .personal-page .learning_status_h1 {
    width: 40%;
  }
  .personal-page .skills_image {
    width: 60px;
  }
}

@media (max-width: 480px) {
  .personal-page .skills_image_main {
    width: 70%;
  }

  .personal-page .skills_image {
    width: 50px;
  }
}
.personal-page .marquee {
  position: relative;
  width: 100%;
  top: -28px;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  z-index: 10;
}
.personal-page .marquee2 {
  position: absolute;
  width: 100%;
  bottom: -28px;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  z-index: 10;
}
.personal-page .marquee-content {
  font: 400 28px/1.17 "Poiret One", Helvetica, Arial, serif;
  color: var(--text-color);
  /* color: black; */
  letter-spacing: 2.8px;
  display: inline-block;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-100%);
  }
}

.personal-page .hobbies_section {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  background-image: var(--gradient4);
  /* background-image: linear-gradient(180deg,  rgba(2,1, 0, 0.6) 60%,rgba(2,1, 0, 0.6) 70%, rgba(2,1, 0, 0.6) 80%); */
  cursor: default;
}

.personal-page .flex_column_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 2%;
  width: 95%;
  z-index: 10;
}
.personal-page .flex_row_container,
.personal-page .hobbies_title,  
.personal-page .dreams_title{
  opacity: 0;
  transform: translateX(250px); /* Выносим за пределы экрана */
  transition: all 0.5s cubic-bezier(0.37, 0, 0.63, 1); /* Добавляем плавность */
}

.personal-page .hobbies_title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font: 400 106px/1.25 Orbitron, Helvetica, Arial, serif;
  font-size: 8vw;
  color: var(--text-color);
  /* color: black; */
  text-align: center;
  letter-spacing: 10.6px;
}
.personal-page .flex_row_container {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  width: 100%;
}
@media (max-width: 1300px) {
  .personal-page .flex_row_container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
  }
}
.personal-page .photo_container3{
  position: relative;
  width: 23%;
}
.personal-page .tape6,
.personal-page .tape7{
  position: absolute;
  top: -7%;
  width: 105%;
  z-index: 4;
}
.personal-page .tape6_1,
.personal-page .tape7_1{
  position: absolute;
  bottom: -7%;
  width: 105%;
  z-index: 4;
}

.personal-page .tape9{
  position: absolute;
  top: -7%; /* Смещение маленького изображения за границу основного */
  left: -7%;
  width: 35%;
  z-index: 4;
}
.personal-page .tape10{
  position: absolute;
  top: -7%; /* Смещение маленького изображения за границу основного */
  right: -7%;
  width: 35%;
  z-index: 4;
}
.personal-page .tape11{
  position: absolute;
  bottom: -9%; /* Смещение маленького изображения за границу основного */
  left: -7%;
  width: 35%;
  z-index: 4;
}
.personal-page .tape12{
  position: absolute;
  bottom: -9%; /* Смещение маленького изображения за границу основного */
  right: -7%;
  width: 35%;
  z-index: 4;
}

.personal-page .hobby_image {
  width: 100%;
}

.personal-page .photo_description_title {
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  width: 20%;
  min-width: 0;
  font: 400 28px/1.17 "Poiret One", Helvetica, Arial, serif;
  color: var(--text-color);
  /* color: black; */
  letter-spacing: 2.8px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.personal-page .dreams_title {
  position: relative;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  width: 100%;
  font: 400 28px/1.17 "Poiret One", Helvetica, Arial, serif;
  color: var(--text-color);
  /* color: black; */
  letter-spacing: 2.8px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1300px) {
  .personal-page .photo_container3 {
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .personal-page .photo_description_title{
    width: 70%;
  }
  .personal-page .dreams_title {
    width: 70%;
  }
}
.personal-page .contact_section {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  background-image: var(--gradient5);
  cursor: default;
  overflow: hidden;
}
.personal-page .flexible_column_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2% auto 2%;
  width: 95%;
  height: 90%;
  z-index: 10;
}
.personal-page .contact_title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font: 400 106px/1.25 Orbitron, Helvetica, Arial, serif;
  font-size: 8vw;
  color: var(--text-color);
  /* color: black; */
  text-align: center;
  letter-spacing: 10.6px;
}
.personal-page .thank_you_message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7% 7% 5%;
  width: 95%;
  font: 400 28px/1.17 "Poiret One", Helvetica, Arial, serif;
  color: var(--text-color);
  /* color: black; */
  text-align: center;
  letter-spacing: 2.8px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.personal-page .flexible_row_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6vw; 
  margin: 5% 5% 7%;
  width: 85%;
}
@media (max-width: 768px) {
  .flexible_row_div img{
    width: 10vw;
  }
}
.flexible_row_div img {
  position: relative;
  width: 5vw; /* Размер изображений */
  /* animation: fall linear forwards;  */
  opacity: 0;
  /* transform: translateY(-250px); Выносим за пределы экрана */
  transition: all 0.5s cubic-bezier(0.37, 0, 0.63, 1); /* Добавляем плавность */
  will-change: transform;
}

/* Анимация падения с поворотом */
@keyframes fall {
  0% {
    opacity: 0;
    transform: translateY(-90vh) rotate(0deg); /* Начинаем сверху */
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(360deg); /* Падаем на дно секции с небольшим отступом */
  }
}


img.falling {
  animation: fall ease forwards;
  animation-fill-mode: forwards; /* Фиксируем конечное состояние анимации */
}


/* Финальная позиция после падения */
img.fallen {
  transform: translateY(0) rotate(360deg); /* Сохраняем поворот, чтобы hover не сбивал его */
}

/* Анимация появления */
.animate {
  animation: fadeInRight 0.5s ease forwards;
}

/* Анимация исчезновения */
.disappear {
  animation: fadeOutLeft 0.5s ease forwards;
}

/* Анимация появления справа */
@keyframes fadeInRight {
  0% {
      opacity: 0;
      transform: translateX(100px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

/* Анимация исчезновения влево */
@keyframes fadeOutLeft {
  0% {
      opacity: 1;
      transform: translateX(0);
  }
  100% {
      opacity: 0;
      transform: translateX(-100px);
  }
}
/* Когда элемент видим, применяем анимацию */
.personal-page .animate {
  opacity: 1;
  transform: translateX(0); /* Возвращаем на место */
}

.image-fade {
  transition: opacity 0.5s ease; /* Плавный переход для opacity */
  opacity: 0; /* Начальная прозрачность */
}
.image-visible {
  opacity: 1; /* Полная видимость */
}